.overall
{
  margin-top: -10%;
  @media screen and (max-width: 500px) {
    margin-top: -30%;
  }
  //height: 220px;
  &_one {
    background-color: $boxes;
    border-top: 3px solid $facebook;
    border-radius: 2%;

    &_social {
      margin-top: 10%;
      text-align: center;
      p{
        display:inline-block;
        padding-left: 2%;
        color: $dark_saturated_blue;
      }
      img{
        vertical-align: middle;
      }
    }

    &_numbers{
      text-align: center;
      &_one {
        font-weight: bolder;
        color: $white;
        font-size: 52px;
        line-height: 3.5rem;
        margin: 0;
      }
      &_two{
        font-size: 12px;
        color: $dark_saturated_blue;
        letter-spacing: 0.3em;
      }
    }

    &_today{
      text-align: center;
      p{
        display:inline-block;
        padding-left: 2%;
        color: $lime_green;
        font-weight: bold;
        font-size: 13px;
      }
      img{
        vertical-align: middle;
      }
    }
  }

  &_two{
    background-color: $boxes ;
    border-top: 3px solid $twitter;
    border-radius: 2%;
  }

  &_three{
    //background-color: $odd_box ;
    background: linear-gradient(to right, $instagram_one, $instagram_two) left top $odd_box no-repeat;
    background-size: 100% 3px ;
    border-radius: 2%;
  }

  &_four{
    background-color: $boxes ;
    border-radius: 2%;
    border-top: 3px solid $youtube;
  }
}
