.statistics {
  margin-top: 2%;
  &_one{

    &_data{
      border-radius: 2%;
      padding: 2% 2% 0 2%;
      height: auto;
      display: block;
      background-color: var(--boxes);
      p{
        display:inline-block;
      }
      img{
        vertical-align: middle;
      }

      &_top
      {
        p{
          color: var(--page-view-text);
          font-weight: bold;
        }
        img{
          float: right;
        }
      }

      &_bottom {
        p{
          color:var(--normal-text);
          font-size: 30px;
          font-weight: bolder;
          display:inline-block;
        }
        span{
          vertical-align: middle;
          //bottom: 0;
          float: right;
          margin-top: 10%;
        }

        .extra{
          color: $lime_green;
          font-weight: bold;
          font-size: 13px;
        }
      }

    }
  }
}
