$lime_green :  #1db489;
$bright_red : #dc414c;
$facebook : #198ff5;
$twitter : #1ca0f2;
$instagram_one : #fdc468;
$instagram_two : #df4996;
$youtube : #c4032a;
$dark_theme_one : #378fe6;
$dark_theme_two : #3eda82;
$toggle : #aeb3cb;
$very_dark_blue : #1e202a;
$very_dark_blue_two : #1f212e;
$dark_saturated_blue : #8b97c6;
$white : #ffffff;
$very_pale_blue : #f5f7ff;
$dark_grayish_blue : #63687e;
$light_grayish_blue : #f0f2fa;
$very_dark_blue_light : #1e202a;
$boxes :#2B2F44;
$odd_box : #383D56;
$top_light_theme : #F8F9FE;
//The color of the text reading total followers
$top_text_color : #828492;
$boxes_light_theme : #F0F2FA;
$followers_text_light_theme : #9799A3;
$page_views_text_light_theme : #646673;

