@import "colors";
@import "theme";
@import "main/main";
@import "../../../foundation/css/app.css";
@import "../../../foundation/css/foundation.css";
@import "summary/summary";
@import "statistics/statistics";
@font-face {
  font-family: "CustomFont";
  src: url("http://localhost:3000/fonts/inter-variablefont_sIntwght-webfont.woff") format("woff")
}
