:root {
  --top: #1f212e;
  --bottom: #1e202a;
  --boxes: #2B2F44;
  --total-followers-text: #8b97c6;
  --followers-text: #8b97c6;
  --page-view-text: #8b97c6;
  --odd-box:#383D56;
  --normal-text : #FFFFFF;
  --toggle-button : #1f212e;
  --slider-one : #378fe6;
  --slider-two : #3eda82;
}

[theme="dark"] {
  --top: #F8F9FE;
  --bottom: #FFFFFF;
  --boxes: #F0F2FA;
  --odd-box: #F0F2FA;
  --total-followers-text: #828492;
  --followers-text: #9799A3;
  --page-view-text: #646673;
  --normal-text : #000000;
  --toggle-button : #F0F2FA;
  --slider-one : gray;
  --slider-two : gray;
}
